/* ---------------------
header-bar
--------------------- */
.header-bar{
    background: #FED700;
}


.header-bar h1{
    color: #4e4c4c;
    font-weight: bold;
    padding-left: 90px;
}
 .header-bar a{
    color: black;
    font-size: x-large;
    margin-top: 0.8%;
    margin-right:-70px;
}
/*.header-bar form input {
height: 80%;
margin-top: 1.5%;
border-radius: 30px;
} */

.header-bar .search-bar{
    background-color:rgb(78, 76, 76);
    width: 500px;
    height: 40px;
    margin-top: 0.5%;
    border-radius: 40px;
    
}

.header-bar .search-bar input{
    height: 100%;
    width:55%;
    border: #ffff;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.header-bar .search-bar .sort-up-icon{
    margin-right: -15px;
 
}
.search-bar .category{
    background: #fff;
    height: 100%;
    margin-right: 10px;;
}

.search-bar .search-icon{
    font-size: x-large;
    margin: 8px;
    padding-left: 8px;
    color: #fff;
    font-weight: 100px;
}

.header-bar .search-bar .sort-icon{
 padding-right: 10px;
}
.fa-icon{
    color: #fff;
    font-size: x-large;
    margin-top: 3%;
    padding-right: 60px;
}

.icons{
    width: 30%;
}

@media screen and (max-width:800px)
{ 
    .header-bar{
        display:none;
        overflow: hidden;
        /* background-color: black; */
    }
    .header-bar .search-bar input{
        background-color:#FED700;
    }
    .search-bar input{
        display: none;
        /* background-color: #FED700;
        border: #FED700;
        border: 0px; 
        width: 0px;
        color:#FED700;   */
    }
    .search-bar .category{
        /* background-color: #FED700; */
        /* color: #FED700; */
        display: none;
    }
     .header-bar .search-bar{
        /* background-color: #FED700; */
        display: none;
        width: 2%;
        z-index: 1px;
    }
    .header-bar a {
        float: left;
        margin-left: -300px;
    }

    .second-nav{
        display: none;
    }
    .icons{
        width: 30%;
    }
    .fa-icon{
        padding: 5px;
    }
    
}

@media(max-width:500px)
{ 
   .header-bar .icons .fa-icon{

        padding: 5px;
        color: rgb(19, 14, 14);
        font-size: 13px;
        margin-top: 10px;
    }
   
    .last{
        margin-right: 3px;
    }
    .header-bar .search-bar{
        background:#FED700;;
        display: none;
        width: 1%;
        margin-left: 270px
    }
    .header-bar a {
        float: left;
        margin-left: -200px;
    }
     .header-bar .search-icon{
        font-size:20px;
        
    }

};


/*-----------------
nav bar
-------------------*/

.list{
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: blue;
}

.slider{
    height: 100vh;
    background-image: url(https://static2.bigstockphoto.com/6/3/2/large2/236151877.jpg);
    opacity: 6%;
    
}

.side-pic{
    height: 30vh;
}

@media(max-width:500px)
{
    
}